// Buttons
.btn-pink {
    background: $color-secondary;
    background-image: -webkit-linear-gradient(top, $color-secondary, $color-primary);
    background-image: -moz-linear-gradient(top, $color-secondary, $color-primary);
    background-image: -ms-linear-gradient(top, $color-secondary, $color-primary);
    background-image: -o-linear-gradient(top, $color-secondary, $color-primary);
    background-image: -webkit-gradient(to bottom, $color-secondary, $color-primary);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    height: 50px;
    line-height: 40px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    width: 220px;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    -webkit-box-shadow: 0 5px 10px 0 #000000;
    -moz-box-shadow: 0 5px 10px 0 #000000;
    box-shadow: 0 5px 10px 0 #000000;
    border: 0px;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin: 10px 0 80px 0;
 }