// Buttons
.btn-pink {
    background: linear-gradient(170deg, $color-secondary, lighten($color-primary, 5%));
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    height: 50px;
    line-height: 40px;
    color:$color-white;
    width: 220px;
    font-weight: 500;
    padding: 10px 20px;
    border: 0px;
    text-decoration: none;
    cursor: pointer;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin: 10px 0 60px 0;
    @extend %typography-description;
    @include shadow-box;
 }
 .btn-fnct{
     background: $color-grey;
     border-radius: 20px;
     height: 70px;
     align-items: center;
     width: 100%;
    @include shadow-box;
    font-size: 15px;
    font-weight: 500;
    &:hover{
        background-color: lighten($color-primary, 30%);
        i{
            color:$color-primary;
        }
    }
 }