// Typography
%typography-title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px ;
    font-weight: bold;
}
%typography-description{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #505050;
}
%typography-resto{
    font-family: 'Shrikhand', sans-serif;
    font-size: 30px;
}
