.location{
    height: 50px;
    background-color: #eaeaea;
}
.location:first-child {
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    color:#353535;
}
.location i {
    padding-right: 15px;
    color:#353535;
}